
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498015637317'); /* IE9*/
  src: url('iconfont.eot?t=1498015637317#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498015637317') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498015637317') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498015637317#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-history:before { content: "\e600"; }

.icon-area:before { content: "\e607"; }

.icon-up:before { content: "\e601"; }

.icon-down:before { content: "\e602"; }

.icon-cancel:before { content: "\e604"; }

.icon-delete:before { content: "\e603"; }

.icon-deletebin:before { content: "\e735"; }

.icon-refresh:before { content: "\e605"; }

.icon-ailicaiarrow:before { content: "\e917"; }

.icon-ailicaiarrow-copy:before { content: "\e920"; }

.icon-list_head:before { content: "\e980"; }

.icon-arrow-up:before { content: "\e61a"; }

.icon-links:before { content: "\e635"; }

.icon-list_phone:before { content: "\e9eb"; }

.icon-list_nophone:before { content: "\e9ec"; }

.icon-map:before { content: "\e9ed"; }

.icon-arrow_down:before { content: "\e9ee"; }

.icon-group:before { content: "\e9ef"; }

.icon-ungroup:before { content: "\e9f0"; }

