// rem
@R: 100rem;

// color
@active-color: #10C1C4;
@highlight-text-color: #E45C24;
@border-color: #E6E6E6;
@section-bgc: #F7F7F7;
@section-bgc-1: #FBFBFB;
@section-bgc-2: #F6F6F6;
@text-color: #212121;
@text-color-1: #BDBDBD;
@light-text-color: #757575;

// border
@common-border: 1px solid @border-color;

@assets-url: '../../assets';

.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-head-top {
  width: 94/@R;
  height: 94/@R;
  background: url('@{assets-url}/head_top.png') no-repeat;
  background-size: 94/@R 94/@R;
}
.icon-head-top-none {
  width: 90/@R;
  height: 90/@R;
  background: url('@{assets-url}/head_top_none.png') no-repeat;
  background-size: 90/@R 90/@R;
}
.icon-search {
  width: 32/@R;
  height: 32/@R;
  background: url('@{assets-url}/search.png') no-repeat;
  background-size: 32/@R 32/@R;
}
.icon-more {
  width: 41/@R;
  height: 41/@R;
  background: url('@{assets-url}/more.png') no-repeat;
  background-size: 41/@R 41/@R;
}
.icon-buy {
  width: 50/@R;
  height: 50/@R;
  background: url('@{assets-url}/buy.png') no-repeat;
  background-size: 50/@R 50/@R;
}
.icon-order {
  width: 37/@R;
  height: 40/@R;
  background: url('@{assets-url}/order.png') no-repeat;
  background-size: 37/@R 40/@R;
}
.icon-coupon {
  width: 44/@R;
  height: 37/@R;
  background: url('@{assets-url}/coupon.png') no-repeat;
  background-size: 44/@R 37/@R;
}
.icon-service {
  width: 40/@R;
  height: 44/@R;
  background: url('@{assets-url}/service.png') no-repeat;
  background-size: 40/@R 44/@R;
}
.icon-logo {
  width: 145/@R;
  height: 22/@R;
  background: url('@{assets-url}/logo.png') no-repeat;
  background-size: 145/@R 22/@R;
}
.icon-logo {
  width: 145/@R;
  height: 22/@R;
  background: url('@{assets-url}/logo.png') no-repeat;
  background-size: 145/@R 22/@R;
}
.icon-plus {
  width: 34/@R;
  height: 34/@R;
  background: url('@{assets-url}/icon_plus.png') no-repeat;
  background-size: 34/@R 34/@R;
}
.icon-minus {
  width: 34/@R;
  height: 34/@R;
  background: url('@{assets-url}/icon_minus.png') no-repeat;
  background-size: 34/@R 34/@R;
}
.icon-wx {
  width: 48/@R;
  height: 48/@R;
  background: url('@{assets-url}/icon_wx.png') no-repeat;
  background-size: 48/@R 48/@R;
}
.icon-choose {
  width: 51/@R;
  height: 51/@R;
  background: url('@{assets-url}/icon_choose.png') no-repeat;
  background-size: 51/@R 51/@R;
}
.icon-choose-no {
  width: 51/@R;
  height: 51/@R;
  background: url('@{assets-url}/icon_choose_no.png') no-repeat;
  background-size: 51/@R 51/@R;
}